{{ 'custom-banner-text.css' | asset_url | stylesheet_tag }}

{% style %}
    .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{% endstyle %}

{% schema %}
{
  "name": "Custom Gift Guide Banner",
  "tag": "section",
  "class": "section custom-header-section",
  "settings": [
    {
      "type": "image_picker",
      "id": "banner_image",
      "label": "Banner Image"
    },
    {
      "type": "text",
      "id": "image_alt",
      "label": "Image Alt Text",
      "default": "Holiday Gift Guide banner with travel and photography-themed items"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "The Gift Guide"
    },
    {
      "type": "textarea",
      "id": "subheading",
      "label": "Subheading",
      "default": "Discover Joy: Your Ultimate Holiday Gift Destination. Explore our curated selection and find the perfect gifts to delight your loved ones this holiday season."
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "Button Label",
      "default": "Shop Now"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button Link"
    }
  ],
  "presets": [
    {
      "name": "Gift Guide Banner with Image",
      "category": "Custom"
    }
  ]
}
{% endschema %}

<section class="gift-guide-section">
  {% if section.settings.banner_image != blank %}
    <img
      src="{{ section.settings.banner_image | img_url: '2048x' }}"
      alt="{{ section.settings.image_alt }}"
      class="gift-guide-image"
      loading="lazy"
      width="1440"
      height="780"
    >
  {% endif %}

  <div class="gift-guide-content">
    <h2>{{ section.settings.heading }}</h2>
    <p>{{ section.settings.subheading }}</p>

    {% if section.settings.button_link != blank %}
      <a href="{{ section.settings.button_link }}" class="gift-guide-button">
        {{ section.settings.button_label }}

   {% render 'arrow-right' %}


      </a>
    {% endif %}
  </div>
</section>
